<h1>Parent Component</h1>
<app-child [LoggedIn]="userLogin" (greetEvent)="greet($event)"></app-child>

<h1>Text Interpolation</h1>
<h2>{{nameInter}}</h2>

<h1>Two way binding</h1>
<app-binding></app-binding>

<h1>Pipe operations</h1>
<app-pipe></app-pipe>

<h1>Directives</h1>
<app-directive></app-directive>

<p>This is normal one</p>
<p appCustom>This is custom one</p>
<h1>Custom pipe</h1>
<p>
    Multiplier : {{10 | Multiplier:125}}
</p>

<h1>Http example</h1>
<app-http-subscribe></app-http-subscribe>
<router-outlet></router-outlet>